@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>


<body>
    <img src="Storefront.jpg" alt="Storefront" />
    
    <p>{insert business name} began at some time and started somehow. </p><br/>
    <p>At {insert business name} we do stuff.</p><br/>
    <p>We do hair and sell hair care products.</p><br/>
   
</body>


